/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 21, 2017, 9:01:03 PM
    Author     : Richard
*/
#wrapper{
    border:1px;
}
body{
    width:100%;
    max-width: 1120px;
    height: 150px;
    overflow: auto;
    overflow-x: hidden;
}
.header-site{
    
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 55%;
    min-width: 44%;
    height: 22%;
    text-align: center;
    z-index: 1;
}

img {
        width: 100%;
    height: 90.5%;
    max-height: 100%;
    min-height: 18%;
}

#table{
    position: fixed;
    margin: auto;
    width: 22.5%;
    height: 22%;
    background-color: #0d2838;
    left: 0;
    top: 0;
    z-index: 1;
}
#menu1{
    position: absolute;
    margin: auto;
    width: 11%;
    height: 100%;
    background-color: #0d2838;
    left: 0;
    top: 0;
}
#menu2{
    position: absolute;
    margin: auto;
    width: 11%;
    height: 100%;
    background-color: #0d2838;
    left: 0;
    top: 0;
}
#menu3{
    position: absolute;
    margin: auto;
    width: 11%;
    height: 100%;
    background-color: #0d2838;
    left: 0;
    top: 0;
}
#menu4{
    position: absolute;
    margin: auto;
    width: 11%;
    height: 100%;
    background-color: #0d2838;
    left: 0;
    top: 0;
}
.nav2{
    border-spacing: 3px;
    margin: auto;
    width: 100%;
    height: 25%;
    background-color: #0d2838;
}
.nav-list {
    padding: 0;
    margin: 0;
}
.nav-item {
    position: relative;
    list-style: none;
    text-align: center;
}
.nav-link {
    color: rgba(255,255,255,.7);
    font-family: geomanist,-apple-system,BlinkMacSystemFont,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    letter-spacing: .2px;
    display: block;
    padding: 12px 20px;
    line-height: 24px;
}
a.active{
    background:  #000080;
    opacity: 0.9;
}

.sidebar-menu{
    border-spacing: 3px;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #0d2838;
}
.sidebar-menu{
  border-spacing: 3px;
}
.sidebar-menu td{
  border-color: #92A5BD;
  border-width: 3px;
  border-style: outset;
  padding: 3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  width: 3em;
  height: 3em;
}
.sidebar-menu td:hover{
  border-style: inset; /* button appearance w/ border style */
  background-color: #F99;
}

.checkout-box{
    
    position: fixed;
    margin: auto;
    width: 22.5%;
    height: 22%;
    background-color: #0d2838;
    right: 0;
    top: 0;
    
    
}
table, th, td {
    border: 1px solid white;
}
#checkout-info{
    color:white;
    text-align: center;
}
.checkout{
    color:white;
    text-align: center;
    font-size: xx-large;
    text-decoration-line: underline
}
#checkout-button{
    background-color: yellow;
    width: 100%;
    position: absolute;
    bottom:0;
    right: 0;
    left: 0;
}

#checkout-table{
    margin:auto;
    margin-top: 10px;
    width:100%;
}

#go-checkout{
    color: white;
    text-align: center;
    font-size: larger;
    text-decoration-line: underline;
    margin:35px 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}