/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 21, 2017, 9:01:03 PM
    Author     : Richard
*/
#wrapper{
    border:1px;
}
body{
    width:100%;
    max-width: 1120px;
    height: 150px;
    overflow: auto;
    overflow-x: hidden;
}
.header-site{
    
    position:absolute;
    left:0;
    right:0;
    top:0;
    margin:auto;
    width:55%;
    min-width: 50%;
    height:25%;   /* Height of the footer */
    background-image:url('../images/mensbanner.jpg');
    text-align: center;
    
}

.checkout-box{
    
    position: absolute;
    margin:auto;
    width:25%;
    height:25%;
    background-color: #0d2838;
    right:0;
    top:0;
    
}