/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 24, 2018, 6:53:41 PM
    Author     : Richard
*/

.shopping-table-container{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: auto;
    width: 55%;
    height: auto;
    background-color: #a9a9a966;
    text-align: center;
    max-height: 73%;
}

#shopping-table {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.dataTables_wrapper{
    position: relative;
    clear: both;
    zoom: 1;
    margin-bottom: 2%;
}
.dataTables_wrapper no_footer{
    height: auto;
    max-height: 60%;
}

.thumbnail  {
	position: relative;
	float: left;
	padding: 5px;
	/*z-index: 0;*/
}

.thumbnail:hover {
	background-color: #e9e9e2;
	/*z-index: 50;*/
	color: #335500;
	text-decoration: none;
}

.thumbnail span { /*CSS for enlarged image*/
	position: absolute;
	background-color: #e5e5e5;
	padding: 5px;
	/*left: -1000px;*/
	border: 1px solid #666;
	visibility: hidden;
	color: black;
	text-decoration: none;
}

.thumbnail span img { /*CSS for enlarged image*/
	border-width: 0px; 
	/*padding: 2px;*/
}

.thumbnail:hover span { /*CSS for enlarged image on hover*/
	visibility: visible; 
	width: 200px;
	top: 5px; /* use IF IE6 style to correct IE6 positions of larger image relative to thumb */
	left: 300px;/*position where enlarged image should offset horizontally */       
}

.star_selection {
    float:left;
    width:300px;
    margin-left: 12px;
    padding-top: 30px;
}
.star_selection span { float:right; position:relative; }
.star_selection span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.star_selection span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.star_selection span:hover ~ span label,
.star_selection span:hover label,
.star_selection span.checked label,
.star_selection span.checked ~ span label {
    background:#F90;
    color:#FFF;
}